In [1]:
# !pip install selenium

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException

import re

import pandas as pd
import requests
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException
import time

from bs4 import BeautifulSoup

In [2]:
import pandas as pd
data = pd.read_csv('dataset/halaltrip_dataset.csv')
print(data.Nama.value_counts())
print("**********")
data = data.drop_duplicates(subset=['Nama'])
print(data.Nama.value_counts())
print("===========")
data.info()

Biswa Bangla Gate                  8
Inishmurray                        5
Pearl River Cruise                 5
Sforza Castle                      5
Pineapple Plantations (Polom...    5
                                  ..
Kitesurfing in Maenam              1
Sento Imperial Palace              1
Heavenly Pillar Cedar              1
Everglades National Park           1
Penyengat Island                   1
Name: Nama, Length: 982, dtype: int64
**********
Metropol Parasol                 1
Topkapi Palace                   1
Ugong Rock Adventures            1
OliveAnkara                      1
Tugu Negara                      1
                                ..
Pigeon Valley & Rose Valley      1
Museo Arqueologico de Cordoba    1
Jomtien Beach                    1
Bondong Jungle                   1
Penyengat Island                 1
Name: Nama, Length: 982, dtype: int64
===========
<class 'pandas.core.frame.DataFrame'>
Int64Index: 983 entries, 0 to 1592
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  983 non-null    float64
 1   Nama        982 non-null    object
 2   Lokasi      948 non-null    object
 3   Alamat      981 non-null    object
dtypes: float64(1), object(3)
memory usage: 26.9+ KB

In [3]:
data=data.dropna(subset=['Nama','Lokasi'])
print(len(data.Nama))
data.isnull().sum()

948

Unnamed: 0    0
Nama          0
Lokasi        0
Alamat        0
dtype: int64

In [50]:
nama_tempat = []
username = []
review_text = []
rating = []
rel_date = []
rel_date = []
jenis = []

nama_gmaps = []
alamat_gmaps = []

nama_maps = []
jenis_maps = []
alamat_maps = []
deskripsi_maps = []

In [51]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 948 entries, 0 to 1592
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  948 non-null    float64
 1   Nama        948 non-null    object
 2   Lokasi      948 non-null    object
 3   Alamat      948 non-null    object
dtypes: float64(1), object(3)
memory usage: 25.9+ KB
None

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 948 entries, 0 to 1592
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  948 non-null    float64
 1   Nama        948 non-null    object
 2   Lokasi      948 non-null    object
 3   Alamat      948 non-null    object
dtypes: float64(1), object(3)
memory usage: 25.9+ KB

In [53]:
n_key = data.Nama+', '+data.Lokasi
key = n_key.iloc[600:650]
key

824         Fishermanâ€™s Village Walkin..., Bophut
826                              Blhhr Farm, Taipei
828                      Hamilton Gardens, Hamilton
829                        Mount Coot-tha, Brisbane
830                       Datca Peninsula, Marmaris
833                            Kawah Putih, Bandung
834                      geiranger fjord, Geiranger
835                     Koutoubia Mosque, Marrakech
837         Eureka! Zientzia Museoa, San SebastiÃ¡n
839                       Samui Disc Golf, Ko Samed
840         Toyota Commemorative Museum ..., Nagoya
841                            Marine Drive, Cochin
842            Piazza Garden @ Changi T1, Singapore
845                      Aquitaine Museum, Bordeaux
847                              Don.Quijote, Japan
848                    AlcÃ¡zar of Seville, Seville
849                      Clock Tower Jaffna, Jaffna
852    Palace of the Grand Master o..., Rhodes Town
853              Nelson Lakes National Park, Nelson
856                         MuseumsQuartier, Vienna
857                             Han Market, Da Nang
858                           Alanya Museum, Alanya
860                          Times Square, New York
861                        Topkapi Palace, Istanbul
866                       Olango Island , Cebu City
870                 Ugong Rock Adventures , Palawan
871                          OliveAnkara, Singapore
872                       Tugu Negara, Kuala Lumpur
873                           Abraj Al Bait, Makkah
876             Ø§Ø­Ù…Ø¯ Ø¹Ø¨Ø¯ Ø§Ù„Ø¨Ø§Ù‚ÙŠ, Yemen
878                          Interlaken, Interlaken
879                 Mystery Valley, T'ien-chu-ts'un
880      Melbourne Star Observation W..., Melbourne
882                     PraÃ§a do ComÃ©rcio, Lisbon
883                       Chefchaouen, Chefchaouene
884                        The English Market, Cork
885                       Umeda Sky Building, Osaka
889      Esplanade - Theatres on the ..., Singapore
890                      Design Orchard , Singapore
892                             Mount Pulag, Baguio
893                                Taytay , Palawan
897                   Donegal Bay Waterbus, Donegal
899                 Binh Chau Hot Springs, Vung Tau
900                Carioca Aqueduct, Rio de Janeiro
901                        Waikato Museum, Hamilton
904          Chiang Mai National Museum, Chiang Mai
905                 Hfc! Halal fried chicken, Italy
906               Queen Victoria Market , Melbourne
909                              Taipei 101, Taipei
910                Queensland Art Gallery, Brisbane
dtype: object

In [8]:
driver = webdriver.Chrome(executable_path = "chromedriver.exe")

<ipython-input-8-392daadcb381>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path = "chromedriver.exe")

In [54]:
response = BeautifulSoup(driver.page_source, 'html.parser')
def scrape():
    for i in key:
        url ="https://www.google.com/maps"
        driver.get(url)
        
        time.sleep(5)
#         respon = BeautifulSoup(driver.page_source, 'html.parser')
        Place = driver.find_element_by_class_name("tactile-searchbox-input")
        Place.send_keys(i)
        time.sleep(3)
        Submit = driver.find_element_by_xpath("/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/div[1]/button")
        Submit.click()
        time.sleep(3)
        try:
            selectP = driver.find_element_by_xpath("/html/body/div[3]/div[9]/div[8]/div/div[1]/div/div/div[2]/div[1]/div[1]/div/a")
            selectP.click()            
        except:
            pass
        try:
            time.sleep(5)
            n_maps = driver.find_element_by_xpath('/html/body/div[3]/div[9]/div[9]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div[1]/div[1]/div[1]/h1').text
            nama_maps.append(n_maps)
        except:
            n_maps = i
            nama_maps.append(i+" - Tidak ditemukan di maps")
    
        try:
#             time.sleep(5)
            n_alamat = driver.find_element_by_xpath('/html/body/div[3]/div[9]/div[9]/div/div/div[1]/div[2]/div/div[1]/div/div/div[9]/div[1]/button/div[1]/div[2]/div[1]').text
            alamat_maps.append(n_alamat)
        except:
            alamat_maps.append(None)

        try:
            time.sleep(5)
            n_jenis = driver.find_element_by_xpath('/html/body/div[3]/div[9]/div[9]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div[1]/div[1]/div[2]/div/div[2]/span[1]/span[1]/button').text
            jenis.append(n_jenis)
        except:
            jenis.append(None)

        
        x = 0
        
        
        try:
            time.sleep(5)
            Reviews = driver.find_element_by_xpath("/html/body/div[3]/div[9]/div[9]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div[1]/div[1]/div[2]/div/div[1]/span[1]/span/span[1]/span[2]/span[1]/button")
            Reviews.click()
            time.sleep(5)
            
            response = BeautifulSoup(driver.page_source, 'html.parser')
            pause_time = 3 # Waiting time after each scroll.
                        
            n_data = response.find('div',class_="jANrlb").find('div',class_="fontBodySmall").text
            print('N-DATA',n_data)

            n_data_clean = re.sub("[^0-9]", "", n_data)
            print('N-DATA-CLEAN',n_data_clean)
    #         try:        
            results = int(n_data_clean)
            sort = driver.find_element_by_xpath("/html/body/div[3]/div[9]/div[9]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div[7]/div[2]/button/span")
            sort.click()
            sortNews = driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[1]/ul/li[2]")
            sortNews.click()
        except:
            results = 0
            

        
        print(results)
        if results > 200:
            results = 200;
            print(results);

        while(x<results):
        #     scrollable_div = driver.find_element_by_css_selector('div.section-layout.section-scrollbox.scrollable-y.scrollable-show')
            try:
                scrollable_div = driver.find_element_by_xpath('/html/body/div[3]/div[9]/div[9]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]')
                driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', scrollable_div)# Scroll it to the bottom.
            except:
                x = 999999
#                 pass
            time.sleep(pause_time) # wait for more reviews to load.
            x=x+9

        response = BeautifulSoup(driver.page_source, 'html.parser')
        


        rlist = response.find_all('div', class_='jftiEf')

        for r in rlist:
            nama_gmaps.append(n_maps)
            try:
                alamat_gmaps.append(n_alamat)
            except:
                alamat_gmaps.append(None)
            username.append(r.find('div',class_='d4r55').find('span').text)
            try:
                review_text.append(r.find('span', class_='wiI7pd').text) 
            except Exception:
                review_text.append(None)
            try:
                rating.append(r.find('span', class_='kvMYJc')["aria-label"]) 
            except Exception:
                rating.append(None)
            try:
                rel_date.append(r.find('span', class_='rsqaWe').text)  
            except Exception:
                rel_date.append(None)
                
        print("== Total SCRAPE ==")
        print(n_maps)
        print(len(nama_gmaps))
        print("################")

In [55]:
scrape()

<ipython-input-54-d5fd90cbd9bf>:9: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  Place = driver.find_element_by_class_name("tactile-searchbox-input")
<ipython-input-54-d5fd90cbd9bf>:12: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  Submit = driver.find_element_by_xpath("/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/div[1]/button")
<ipython-input-54-d5fd90cbd9bf>:16: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  selectP = driver.find_element_by_xpath("/html/body/div[3]/div[9]/div[8]/div/div[1]/div/div/div[2]/div[1]/div[1]/div/a")
<ipython-input-54-d5fd90cbd9bf>:22: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  n_maps = driver.find_element_by_xpath('/html/body/div[3]/div[9]/div[9]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div[1]/div[1]/div[1]/h1').text
<ipython-input-54-d5fd90cbd9bf>:30: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  n_alamat = driver.find_element_by_xpath('/html/body/div[3]/div[9]/div[9]/div/div/div[1]/div[2]/div/div[1]/div/div/div[9]/div[1]/button/div[1]/div[2]/div[1]').text
<ipython-input-54-d5fd90cbd9bf>:37: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  n_jenis = driver.find_element_by_xpath('/html/body/div[3]/div[9]/div[9]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div[1]/div[1]/div[2]/div/div[2]/span[1]/span[1]/button').text
<ipython-input-54-d5fd90cbd9bf>:48: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  Reviews = driver.find_element_by_xpath("/html/body/div[3]/div[9]/div[9]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div[1]/div[1]/div[2]/div/div[1]/span[1]/span/span[1]/span[2]/span[1]/button")

0
== Total SCRAPE ==
Fishermanâ€™s Village Walkin..., Bophut
0
################
N-DATA 73 reviews
N-DATA-CLEAN 73

<ipython-input-54-d5fd90cbd9bf>:62: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  sort = driver.find_element_by_xpath("/html/body/div[3]/div[9]/div[9]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div[7]/div[2]/button/span")
<ipython-input-54-d5fd90cbd9bf>:64: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  sortNews = driver.find_element_by_xpath("/html/body/div[3]/div[3]/div[1]/ul/li[2]")

73

<ipython-input-54-d5fd90cbd9bf>:79: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  scrollable_div = driver.find_element_by_xpath('/html/body/div[3]/div[9]/div[9]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]')

== Total SCRAPE ==
竹子湖故鄉金針花農園
73
################
N-DATA 12,643 reviews
N-DATA-CLEAN 12643
12643
200
== Total SCRAPE ==
Hamilton Gardens
293
################
0
== Total SCRAPE ==
Mount Coot-Tha
293
################
0
== Total SCRAPE ==
Datca Peninsula, Marmaris
293
################
N-DATA 5,717 reviews
N-DATA-CLEAN 5717
5717
200
== Total SCRAPE ==
White Crater
523
################
N-DATA 1,243 reviews
N-DATA-CLEAN 1243
1243
200
== Total SCRAPE ==
Geirangerfjord
753
################
N-DATA 11,795 reviews
N-DATA-CLEAN 11795
11795
200
== Total SCRAPE ==
Koutoubia
983
################
N-DATA 1,768 reviews
N-DATA-CLEAN 1768
1768
200
== Total SCRAPE ==
Eureka! Zientzia Museoa
1213
################
N-DATA 86 reviews
N-DATA-CLEAN 86
86
== Total SCRAPE ==
Samui Disc Golf
1299
################
N-DATA 7,528 reviews
N-DATA-CLEAN 7528
7528
200
== Total SCRAPE ==
Toyota Commemorative Museum of Industry and Technology
1529
################
0
== Total SCRAPE ==
Marine Drive
1529
################
0
== Total SCRAPE ==
Piazza Garden @ Changi T1, Singapore
1529
################
N-DATA 2,999 reviews
N-DATA-CLEAN 2999
2999
200
== Total SCRAPE ==
Musée d'Aquitaine
1759
################
0
== Total SCRAPE ==
Don.Quijote, Japan
1759
################
0
== Total SCRAPE ==
AlcÃ¡zar of Seville, Seville
1759
################
0
== Total SCRAPE ==
Jaffna Clock Tower
1759
################
0
== Total SCRAPE ==
Palace of the Grand Master of the Knights of Rhodes
1762
################
N-DATA 710 reviews
N-DATA-CLEAN 710
710
200
== Total SCRAPE ==
Nelson Lakes National Park
1982
################
N-DATA 25,593 reviews
N-DATA-CLEAN 25593
25593
200
== Total SCRAPE ==
MuseumsQuartier
2212
################
N-DATA 17,364 reviews
N-DATA-CLEAN 17364
17364
200
== Total SCRAPE ==
Han Market
2442
################
0
== Total SCRAPE ==
Alanya Museum, Alanya
2442
################
0
== Total SCRAPE ==
Times Square, New York
2442
################
N-DATA 73,418 reviews
N-DATA-CLEAN 73418
73418
200
== Total SCRAPE ==
Topkapi Palace Museum
2672
################
N-DATA 111 reviews
N-DATA-CLEAN 111
111
== Total SCRAPE ==
Olango Island
2783
################
0
== Total SCRAPE ==
Ugong Rock Adventures , Palawan
2783
################
N-DATA 23 reviews
N-DATA-CLEAN 23
23
== Total SCRAPE ==
OliveAnkara
2806
################
0
== Total SCRAPE ==
Tugu Negara, Kuala Lumpur
2806
################
N-DATA 15,435 reviews
N-DATA-CLEAN 15435
15435
200
== Total SCRAPE ==
Abraj Al-Bait Towers
3036
################
0
== Total SCRAPE ==
Ø§Ø­Ù…Ø¯ Ø¹Ø¨Ø¯ Ø§Ù„Ø¨Ø§Ù‚ÙŠ, Yemen
3036
################
0
== Total SCRAPE ==
Interlaken
3036
################
N-DATA 144 reviews
N-DATA-CLEAN 144
144
== Total SCRAPE ==
Mystery Valley Golf Club
3036
################
0
== Total SCRAPE ==
Melbourne Star Observation W..., Melbourne
3036
################
0
== Total SCRAPE ==
PraÃ§a do ComÃ©rcio, Lisbon
3036
################
0
== Total SCRAPE ==
Chefchaouen
3036
################
N-DATA 9,221 reviews
N-DATA-CLEAN 9221
9221
200
== Total SCRAPE ==
The English Market
3266
################
N-DATA 23,153 reviews
N-DATA-CLEAN 23153
23153
200
== Total SCRAPE ==
Umeda Sky Building, Osaka
3496
################
N-DATA 16,590 reviews
N-DATA-CLEAN 16590
16590
200
== Total SCRAPE ==
Esplanade - Theatres on the Bay, Singapore
3836
################
N-DATA 186 reviews
N-DATA-CLEAN 186
186
== Total SCRAPE ==
Design Orchard
4022
################
0
== Total SCRAPE ==
Mount Pulag, Baguio
4022
################
0
== Total SCRAPE ==
Taytay
4022
################
N-DATA 351 reviews
N-DATA-CLEAN 351
351
200
== Total SCRAPE ==
Donegal Bay Waterbus
4192
################
0
== Total SCRAPE ==
Binh Chau Hot Springs, Vung Tau
4192
################
N-DATA 17,812 reviews
N-DATA-CLEAN 17812
17812
200
== Total SCRAPE ==
Carioca Aqueduct
4422
################
N-DATA 1,238 reviews
N-DATA-CLEAN 1238
1238
200
== Total SCRAPE ==
Waikato Museum Te Whare Taonga o Waikato
4802
################
N-DATA 454 reviews
N-DATA-CLEAN 454
454
200
== Total SCRAPE ==
Chiang Mai National Museum
5032
################
0
== Total SCRAPE ==
HFC Hari Fried Chicken
5032
################
N-DATA 39,232 reviews
N-DATA-CLEAN 39232
39232
200
== Total SCRAPE ==
Queen Victoria Market
5372
################
0
== Total SCRAPE ==
Taipei 101, Taipei
5382
################
N-DATA 7,781 reviews
N-DATA-CLEAN 7781
7781
200
== Total SCRAPE ==
Gallery of Modern Art
5572
################

In [56]:
# key

In [57]:
unique_nama = list(set(nama_gmaps))
print(unique_nama)
unique_addr = list(set(alamat_gmaps))
print(unique_addr)

['Gallery of Modern Art', 'Olango Island', 'Donegal Bay Waterbus', 'Waikato Museum Te Whare Taonga o Waikato', 'Taipei 101, Taipei', 'OliveAnkara', 'The English Market', 'MuseumsQuartier', 'Hamilton Gardens', 'Geirangerfjord', 'Topkapi Palace Museum', 'Eureka! Zientzia Museoa', 'Samui Disc Golf', 'Umeda Sky Building, Osaka', 'Koutoubia', 'Queen Victoria Market', 'Toyota Commemorative Museum of Industry and Technology', '竹子湖故鄉金針花農園', "Musée d'Aquitaine", 'Carioca Aqueduct', 'Abraj Al-Bait Towers', 'White Crater', 'Esplanade - Theatres on the Bay, Singapore', 'Design Orchard', 'Han Market', 'Palace of the Grand Master of the Knights of Rhodes', 'Chiang Mai National Museum', 'Nelson Lakes National Park']
[None]

In [58]:
len(username)

5572

In [59]:
import numpy as np
df = pd.DataFrame(np.column_stack([username,rating,nama_gmaps,alamat_gmaps,rel_date,review_text]),
                  columns=['Nama_Pengguna','Rating','Nama_Tempat','Alamat','Tanggal','Review'])
df.head(5)

,Nama_Pengguna,Rating,Nama_Tempat,Alamat,Tanggal,Review
0,尹。,5 stars,竹子湖故鄉金針花農園,None,21 hours ago,
1,ll kI,5 stars,竹子湖故鄉金針花農園,None,21 hours ago,
2,張宜婷,5 stars,竹子湖故鄉金針花農園,None,9 months ago,"(Translated by Google) It’s pretty in Taipei, ..."
3,陳品介,5 stars,竹子湖故鄉金針花農園,None,9 months ago,
4,Alex Tsai,4 stars,竹子湖故鄉金針花農園,None,10 months ago,(Translated by Google) The environment of the ...

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nama_Pengguna  5572 non-null   object
 1   Rating         5342 non-null   object
 2   Nama_Tempat    5572 non-null   object
 3   Alamat         0 non-null      object
 4   Tanggal        5342 non-null   object
 5   Review         5572 non-null   object
dtypes: object(6)
memory usage: 130.7+ KB

In [61]:
df.Nama_Tempat.value_counts()

Waikato Museum Te Whare Taonga o Waikato                  380
Esplanade - Theatres on the Bay, Singapore                340
Queen Victoria Market                                     340
MuseumsQuartier                                           230
The English Market                                        230
Abraj Al-Bait Towers                                      230
Topkapi Palace Museum                                     230
Han Market                                                230
Carioca Aqueduct                                          230
Chiang Mai National Museum                                230
Musée d'Aquitaine                                         230
Toyota Commemorative Museum of Industry and Technology    230
Eureka! Zientzia Museoa                                   230
Koutoubia                                                 230
Geirangerfjord                                            230
White Crater                                              230
Umeda Sky Building, Osaka                                 230
Nelson Lakes National Park                                220
Hamilton Gardens                                          220
Gallery of Modern Art                                     190
Design Orchard                                            186
Donegal Bay Waterbus                                      170
Olango Island                                             111
Samui Disc Golf                                            86
竹子湖故鄉金針花農園                                                 73
OliveAnkara                                                23
Taipei 101, Taipei                                         10
Palace of the Grand Master of the Knights of Rhodes         3
Name: Nama_Tempat, dtype: int64

In [62]:
# bool_series = df.duplicated()
# bool_series

In [63]:
# df = df[~bool_series]
# df.Nama_Tempat.value_counts()

In [64]:
df.to_csv('dataset/Ratings_Tempat-600-650.csv')

In [65]:
df.tail()

,Nama_Pengguna,Rating,Nama_Tempat,Alamat,Tanggal,Review
5567,Rebecca Johnson,5 stars,Gallery of Modern Art,None,3 months ago,
5568,Natasha Noy,5 stars,Gallery of Modern Art,None,3 months ago,
5569,Angus C-T,5 stars,Gallery of Modern Art,None,3 months ago,Impressive display of weird Asian & Pacific Art.
5570,Cansu Esmer,5 stars,Gallery of Modern Art,None,3 months ago,
5571,Kate Dingle,4 stars,Gallery of Modern Art,None,4 months ago,"Great art space, wonderful way to spend a morn..."

In [66]:
# cek
# print(df.isnull().sum())

In [67]:
mt = df.Nama_Pengguna.value_counts()
mt.head(10)

Cynthia Wei            3
Ana                    2
Melissa Eisner         2
Amauri Alves Junior    2
77 sai10               2
Nico                   2
M M                    2
J S                    2
Imran Khan             2
fuku aki               2
Name: Nama_Pengguna, dtype: int64

In [72]:
# dtes = df[df['Nama_Pengguna']=='Nico']
# dtes

,Nama_Pengguna,Rating,Nama_Tempat,Alamat,Tanggal,Review
1595,Nico,4 stars,Musée d'Aquitaine,None,a month ago,
3656,Nico,5 stars,"Esplanade - Theatres on the Bay, Singapore",None,a month ago,Nice place

In [69]:
df.Rating.value_counts()

 5 stars     3700
 4 stars     1071
 3 stars      349
 1 star       131
 2 stars       91
Name: Rating, dtype: int64

In [70]:
dnm = df.Nama_Tempat.value_counts()
len(dnm)

28