In [1]:
# !pip install selenium

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException

import pandas as pd
import requests
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException
import time

from bs4 import BeautifulSoup

In [2]:
driver = webdriver.Chrome(executable_path = "chromedriver.exe")
# disable location manual in driver

<ipython-input-2-51ce689feaf0>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path = "chromedriver.exe")

In [100]:
url ="https://www.halaltrip.com/attractions-near-me/"
driver.get(url)

response = BeautifulSoup(driver.page_source, 'html.parser')

name = []
location = []
address = []

rlist = response.find_all('div', class_='hotel_short_description')

In [101]:
def scrape():
#     global response
    global rlist
    response = BeautifulSoup(driver.page_source, 'html.parser')
    rlist = response.find_all('div', class_='restaurent_box')

def get_data():
    for r in rlist:
        name.append(r.find('div',class_='rest_detail').find('h3').text)
        try:
            location.append(r.find('div',class_='img_box ltGreyBg').find('span').text) 
        except Exception:
            location.append(None)
        try:
            address.append(r.find('div',class_='rest_detail').find('p').text)
        except Exception:
            address.append(None)

In [102]:
scrape()
get_data()

len(name)

16

# next page - looping

In [103]:
scrape()
get_data()

len(name)

32

In [94]:
import numpy as np
df = pd.DataFrame(np.column_stack([name, location, address]), 
                               columns=['Nama', 'Lokasi', 'Alamat'])
df.head()

,Nama,Lokasi,Alamat
0,Sydney Tower,Sydney,"100 Market St, Sydney NSW 2000, Australia"
1,Fort of Jaffna,Jaffna,"AB21, Jaffna, Sri Lanka"
2,Musée de la Castre,Cannes,"Le Suquet, Rue de la Castre, 06400 Cannes, France"
3,Brooklyn Botanic Garden,Brooklyn,"150 Eastern Parkway, 990 Washington Avenue, Br..."
4,Tasik Lengkong,Ciamis,Jalan Pesanggrahan Ciamis West Java 46264 Indo...

In [95]:
df.tail()

,Nama,Lokasi,Alamat
43,Musée Saint-Raymond,Toulouse,"1 Ter place Saint-Sernin 31000 Toulouse, France"
44,Riyadh Zoo,Riyadh,"Al Ihsa Street, Al Malaz, Riyadh P.O. Box: 270..."
45,SeaWorld San Diego,San Diego,"500 Sea World Dr, San Diego, CA 92109, United ..."
46,Peshwa Udyan,Pune,"Peshwa Udyan, Pune, Maharashtra, 411009, India..."
47,Salzburg Toy Museum,Salzburg,"\nBürgerspitalgasse 2, 5020 Salzburg, Austria\..."

In [96]:
df.Nama.value_counts()

New Market                         2
Sydney Tower                       1
Oriental Pearl TV Tower            1
Sydney Opera House                 1
King John's Castle                 1
Villa Floridiana                   1
Fethiye Amphitheatre               1
Silver Cave                        1
Zini Baomo Garden                  1
Livadia Beach                      1
Session Road                       1
Auckland Civic Theatre             1
KLCC                               1
Apollo Temple                      1
Penang Islamic Museum              1
Nagoya City Art Museum             1
Han Market                         1
Royal Armouries Museum             1
Nottingham City Centre             1
Musée Saint-Raymond                1
Riyadh Zoo                         1
SeaWorld San Diego                 1
Peshwa Udyan                       1
Castelo de São Jorge               1
Bute Park & Arboretum              1
Fort of Jaffna                     1
Damdama Lake                       1
Musée de la Castre                 1
Brooklyn Botanic Garden            1
Tasik Lengkong                     1
Sri Mariamman Temple               1
BMW Welt and Museum                1
Dublin Zoo                         1
Ulus and Republican Ankara         1
Ben Thanh Market                   1
Moon Hill                          1
Ngong Ping 360 degrees cable...    1
Hospital Cave                      1
Stari Most, Mostar, Bosnia         1
Medina Media Museum                1
Olango Island                      1
Othaim Mall Buraydah               1
Luna Park                          1
Mercado de la Ribera               1
Malay Heritage Centre              1
Rumah Mode                         1
Salzburg Toy Museum                1
Name: Nama, dtype: int64

In [23]:
len(df.Lokasi)
# return dataframe

32

In [25]:
import numpy as np
df = pd.DataFrame(np.column_stack([name, location, address]), 
                               columns=['Nama', 'Lokasi', 'Alamat'])
df.head()

,Nama,Lokasi,Alamat
0,Jabal Al Nour,Makkah,"Jabal al Nur, Makkah 23238, Saudi Arabia"
1,Salzburg Old Town,Salzburg,"5020 Salzburg, Austria"
2,Mosque of the Janissaries,Chania,"Mosque of the Janissaries, Chania, Greece"
3,Fukuoka Zoo,Fukuoka,"1-1 Minami-koen, Chuo-ku, Fukuoka City, Japan."
4,Bilbao Fine Arts Museum,Bilbao,"\nMuseo Plaza, 2. 48009 Bilbao, Spain\n"

In [26]:
df.tail()

,Nama,Lokasi,Alamat
27,Dar Batha Museum,Agdz,"Place du Batha, Fes, Morocco"
28,Haad Rin Nai,Haad Rin,"Haad Rin Nai, Ko Phangan, Thailand"
29,Otago Museum,Dunedin,"419 Great King Street | P.O. Box 6202, Dunedi..."
30,Bristol's Harbourside,Bristol,"Bristol Habour, Bristol, United Kingdom"
31,San Diego Zoo,San Diego,"2920 Zoo Dr, San Diego, California 92101, Unit..."

In [ ]:
df.to_csv('halaltrip_dataset.csv')

In [ ]:
data = pd.read_csv('halaltrip_dataset.csv')
data.head()

In [ ]:
data.info()

In [ ]:
data.Nama.value_counts().head(10)

In [ ]:
data[data.Lokasi=='Indonesia']