In [1]:
# !pip install selenium==4.3.0

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException

import pandas as pd
import requests
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium.webdriver.common.action_chains import ActionChains
from selenium.common.exceptions import NoSuchElementException
import time

from bs4 import BeautifulSoup

In [3]:
from selenium.webdriver.chrome.service import Service

service = Service('/home/ade/Documents/TA2022/chromedriver')

service.start()

driver = webdriver.Remote(service.service_url)

In [20]:
url ="https://chse.kemenparekraf.go.id/id/detail-provinsi/jawa-barat"
driver.get(url)

response = BeautifulSoup(driver.page_source, 'html.parser')

tempat = []
jenis = []
city = []
img = []
address = []

rlist = response.find_all('div', class_='col-md-8')

In [21]:
def scrape():
    n_dest = driver.find_elements(By.XPATH,'//*[@id="list-certifications"]/div/div/div/div/div/div/h3/a')
    for element in n_dest:
        tempat.append(element.text)
    
    n_type = driver.find_elements(By.XPATH,'//*[@id="list-certifications"]/div/div/div/div/div/div/a/h2')
    for element in n_type:
        jenis.append(element.text)
        
    n_city = driver.find_elements(By.XPATH,'//*[@id="list-certifications"]/div/div/div/div/ul')
    for element in n_city:
        city.append(element.text)
    
    n_address = driver.find_elements(By.XPATH,'//*[@id="list-certifications"]/div/div/div/div/p')
    for element in n_address:
        address.append(element.text)
        
    n_img = driver.find_elements(By.CLASS_NAME,'card-img')
    for thumbnail in n_img:
        img.append(thumbnail.get_attribute("src"))

In [22]:
scrape()

In [86]:
import pandas as pd

# Contoh list data
data = [tempat,jenis,city,address,img]
# Membuat DataFrame dari list
df = pd.DataFrame({'tempat': tempat, 'jenis': jenis, 'city': city,'address':address,'img':img})

# Menampilkan DataFrame
df.tail()

,tempat,jenis,city,address,img
317,Taman Wisata Alam Capolaga,Daya Tarik Wisata,JAWA BARAT KAB. SUBANG,"Wisata Alam Capolaga, Jl. Raya Cicadas, Kampun...",https://chse.kemenparekraf.go.id/themes/chse-f...
318,Green Hill Park,Daya Tarik Wisata,JAWA BARAT KAB. BANDUNG,"Jl. Raya Patengan KM. 41 Rancabali, Ciwidey - ...",https://chse.kemenparekraf.go.id/themes/chse-f...
319,Wana Wisata Gunung Puntang,Daya Tarik Wisata,JAWA BARAT KAB. BANDUNG,Jalan Raya Gunung Puntang Km 8,https://chse.kemenparekraf.go.id/themes/chse-f...
320,KBM Ekowisata Perum Perhutani Jawa Barat & Ban...,Daya Tarik Wisata,JAWA BARAT KAB. BANDUNG,"Jalan Raya Ciwidey - Patengan, Alamendah, Band...",https://chse.kemenparekraf.go.id/storage/app/u...
321,TAMAN BUNGA NUSANTARA,Daya Tarik Wisata,JAWA BARAT KAB. CIANJUR,JL. Mariwati km 7 Desa Kawungluwuk Kecamatan S...,https://chse.kemenparekraf.go.id/themes/chse-f...

In [8]:
# key = n_key[2]
print(key)
cari()
# if popup close popup

NameError: name 'key' is not defined

In [ ]:
scrape()

In [ ]:
# i +=1
# key = n_key[i]
# print(key)

In [ ]:
i=461
n = n_key[i:]
n

In [ ]:
for i in n:
    key = i
    print(key)
    cari()
#     # if popup close popup
    scrape()

In [84]:
scrape()
print(len(tempat))

316

In [85]:
scrape()
print(len(tempat))

322

In [30]:
df.tail()

,tempat,jenis,city,address,img
19,Akshaya Hotel Karawang,Hotel,JAWA BARAT KAB. KARAWANG,"JL.K.H. MUSLIH NO. 28A. RT.03, RW.01,DUSUN SUK...",https://chse.kemenparekraf.go.id/storage/app/u...
20,HOTEL CIPAKU GARDEN,Hotel,JAWA BARAT KOTA BANDUNG,"Jalan Cipaku Indah X No.2, Ledeng, Kota Bandun...",https://chse.kemenparekraf.go.id/storage/app/u...
21,Balong Girang Cigugur,Daya Tarik Wisata,JAWA BARAT KAB. KUNINGAN,"2FJ4+QJ Cigugur, Kabupaten Kuningan, Jawa Bara...",https://chse.kemenparekraf.go.id/storage/app/u...
22,The Jungle Waterpark Bogor,Daya Tarik Wisata,JAWA BARAT KOTA BOGOR,"Jalan Bogor Nirwana Boulevard, Perumahan Bogor...",https://chse.kemenparekraf.go.id/storage/app/u...
23,Roemah Keboen Tjiater,Homestay / Pondok Wisata,JAWA BARAT KAB. SUBANG,"Roemah Keboen Tjiater, Kp. Cijolang No. 80 RT ...",https://chse.kemenparekraf.go.id/storage/app/u...

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tempat   322 non-null    object
 1   jenis    322 non-null    object
 2   city     322 non-null    object
 3   address  322 non-null    object
 4   img      322 non-null    object
dtypes: object(5)
memory usage: 12.7+ KB

 ## Ulangi Lagi Scrapenya

In [90]:
cleaned_df = df.drop_duplicates(subset=['tempat'])

In [92]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 281 entries, 0 to 321
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tempat   281 non-null    object
 1   jenis    281 non-null    object
 2   city     281 non-null    object
 3   address  281 non-null    object
 4   img      281 non-null    object
dtypes: object(5)
memory usage: 13.2+ KB

In [101]:
json_data = df.to_json(orient='records')
with open('data.json', 'w') as json_file:
    json_file.write(json_data)